*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    background-color: #E7ECEF;
}

#logo-img {
    display: flex;   
}
#company-name {
    display: none;
    font-family: Nunito;
    font-style: normal;
    font-weight: normal;
    font-size: 64px;
    line-height: 50px;
    /* or 79% */
    letter-spacing: -0.06em;
    color: #A3CEF1;
}
.header {
    display: flex;
    position: relative;
    width: 100vw;
    height: 15vh;
    background-color: #E7ECEF;
    align-items: center;
    justify-content: space-around;
}
.myReact-icons {
    display: none;
    width: 74px;
    height: 81px;
    color: #8B8C89;
    animation-name: rotate;
    animation-duration: .5s;
}
.logged-out-mob{
    position: absolute;
    top: 15vh;
    left: 0;
    height: 85vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-content: center;
    align-items: center;
    overflow: hidden;
    transition: all 600ms;
    opacity: 93%;
    background-color: #E7ECEF;
    

    .navigate{
        display: flex;
        font-family: Nunito;
        font-style: normal;
        font-weight: 300;
        font-size: 36px;
        line-height: 72px;
        /* or 200% */
        letter-spacing: 0.015em;
        color: #8B8C89;
    }
    #line{
        display: flex;
        width: 230px;
        height: 0px;
        border: 1px solid #8B8C89;
    }
}
.logged-out-mob-hide{
    height: 0;
    padding: 0;
    opacity: 0;
}

// .logged-in-mob{

// }
// .logged-in-mob-hide{

// }
.logged-out{
    display: none;
    .navigate{
        display: flex;
        margin-left: 40px;
        font-family: Nunito;
        font-style: normal;
        font-weight: normal;
        font-size: 36px;
        line-height: 50px;
        /* or 140% */

        letter-spacing: -0.06em;

        color: #8B8C89;
    }
}
// .logged-in{

// }


@media (max-width: 450px){
    .nav-bar{
        display: none;
    }
   .myReact-icons{
       display: flex;
   }    
}
@media (min-width: 450px) and (max-width: 800px){
    .nav-bar{
        display: none;
    }
    .myReact-icons{
        display: flex;
    }
    #company-name{
        display: flex;
    }
}
@media (min-width: 800px){
    #company-name{
        display: flex;
    }
    .logged-out{
        display: flex
    }
}
@keyframes rotate {
    from {
        transform: rotate(0deg)
    }
    to {
        transform: rotate(180deg)
    }
}