#body{
 display: flex;
 flex-direction: column;
 justify-content: space-evenly;
 align-content: center;
 align-items: center;
}
.header{
display: flex;
font-family: Nunito;
font-style: normal;
font-weight: bold;
font-size: 48px;
line-height: 50px;
/* or 105% */
letter-spacing: -0.005em;
color: #8B8C89;
}
.title{
 font-family: Nunito;
font-style: normal;
font-weight: bold;
font-size: 18px;
line-height: 50px;
/* or 281% */
text-align: center;
letter-spacing: -0.005em;
color: #000000;
}
.button{
display: flex;
align-content: center;
 align-items: center;
 justify-content: center;
 margin-top: 20px;
height: 42px;
width: 251px;
border-radius: 1px;
background: #F96900;
box-shadow: 0px 0px 1px #000000, 0px 0px 1px #000000;
border-radius: 1px;
font-family: Nunito;
font-style: normal;
font-weight: normal;
font-size: 18px;
line-height: 50px;
/* or 281% */
text-align: center;
letter-spacing: -0.005em;
color: #FFFFFF;
border: none;
}
.forgot-password{
font-family: Nunito;
font-style: normal;
font-weight: normal;
font-size: 10px;
line-height: 50px;
/* or 505% */
text-align: center;
letter-spacing: -0.005em;
text-decoration-line: underline;
color: #0000FF;
}
.line{
 display: flex;
 width: 230px;
 height: 0px;
 border: 1px solid #8B8C89;
}
.link-to-create-account{
display: flex;
 font-family: Nunito;
font-style: normal;
font-weight: normal;
font-size: 10px;
line-height: 50px;
/* or 505% */
text-align: center;
letter-spacing: -0.005em;
color: #000000;
}